  .nav {
    display: flex;
    justify-content: center;
    width: 100vw;
    flex-grow: 1;
    margin-top: 0.5vh;
  }
  .nav-contain {
    display: flex;
    width: 98vw;
    height: 90vh;
    flex-direction: row;
    box-shadow: 0 2px 5px 2px rgba(26,26,26,.1);
    padding: 10px;
    background: center url(./人共生城市-冬.png) no-repeat;
    background-size: cover;
  }
  .nav-contain h2 {
    color: #fff;
    font-family: 'BlocExtCond';
    font-weight: 300;
  }
  .nav-contain .navs {
    display: flex;
    
  }
  .nav-list {
    display: flex;
    flex-grow: 1;
  }
  .nav-list .nav-label:nth-of-type(1){
    left: 11%;
    top: 33%;
  }
  .nav-list .nav-label:nth-of-type(2){
    left: 22%;
    top: 22%;
  }
  .nav-list .nav-label:nth-of-type(3){
    left: 11%;
    top: 11%;
  }
  .nav-list .nav-label:nth-of-type(4){
    left: 22%;
    top: 44%;
  }
  .nav-list .nav-label:nth-of-type(5){
    left: 11%;
    top: 55%;
  }
  .nav-label {
    width: 80px;
    height: 80px;
    text-align: center;
    position: fixed;
    line-height: 80px;
    background: transparent url(./threat.png) center center no-repeat;
    background-size: cover;
  }
  .nav-label:hover {
    animation: flow 0.8s infinite ease-in-out alternate;
  }

  .nav-label .link a{
    font-family: 'BlocExtCond';
    font-size: calc(9px + 1vmin);
    font-weight: 300;
    text-decoration:none;
    color: #8590a6;
  }
  @keyframes flow {
    from {
      width: 80px;
      height: 80px;
    }
    to {
      width: 83px;
      height: 83px;
    }
  }
  .bird-contain {
    display: flex;
    flex-grow: 1;
  }
  .bird-tips {
    position: fixed;
    left: 80%;
    top: 13%;
  }
  .bird-button {
    position: fixed;
    display: none;
    left: 86%;
    top: 37%;
    width: 80px;
    height: 80px;
    cursor:pointer;
    text-align: center;
    line-height: 80px;
    background: transparent url(./threat.png) center center no-repeat;
    background-size: cover;

  }

  .bird {
    position: fixed;
    width: 34%;
    height: 33%;
    left: 78%;
    top: 10%;
  }
  .range {
    height: 18vw;
    width: 25vw;
    position: absolute;
  }
  