  .nav {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    width: 100vw;
    flex-grow: 1;
  }
  .nav-contain {
    display: flex;
    height: 100vh;
    flex-direction: row;
    flex-grow:1;
    box-shadow: 0 2px 5px 2px rebeccapurple;
    transition: all 1000ms ease;
  }
  .nav-contain h2 {
    color: #fff;
    font-family: 'BlocExtCond';
    font-weight: 300;
  }
  .nav-list {
    display: flex;
    flex-grow: 1;
  }
  .nav-list .nav-label:nth-of-type(1){
    left: 11%;
    top: 33%;
  }
  .nav-list .nav-label:nth-of-type(2){
    left: 22%;
    top: 22%;
  }
  .nav-list .nav-label:nth-of-type(3){
    left: 11%;
    top: 11%;
  }
  .nav-list .nav-label:nth-of-type(4){
    left: 22%;
    top: 44%;
  }
  .nav-list .nav-label:nth-of-type(5){
    left: 11%;
    top: 55%;
  }
  .nav-label {
    width: 80px;
    height: 80px;
    text-align: center;
    position: fixed;
    line-height: 80px;
    background: transparent url(./img/threat.png) center center no-repeat;
    background-size: cover;
  }
  .nav-label:hover {
    animation: flow 0.8s infinite ease-in-out alternate;
  }

  .nav-label .link a{
    font-family: 'BlocExtCond';
    font-size: calc(9px + 1vmin);
    font-weight: 300;
    text-decoration:none;
    color: #8590a6;
  }
  @keyframes flow {
    from {
      width: 80px;
      height: 80px;
    }
    to {
      width: 83px;
      height: 83px;
    }
  }
  .bird-contain {
    display: flex;
    flex-grow: 1;
  }
  .bird-contain .index {
    position: fixed;
    font-weight: 300;
    text-decoration:none;
    color: #fff;
    font-family: 'BlocExtCond';
    font-size: calc(9px + 2.4vmin);
    top: 88%;
    left: 50%;
  }
  .bird-tips {
    position: fixed;
    left: 80%;
    top: 6%;
    color: #fff;
    font-family: 'BlocExtCond';
    font-size: calc(3px + 2.4vmin);
    font-weight: 300;
    border: 1px solid ;
    padding: 1vmin;
    border-radius: 1vmin;
    background-color: rgba(0,0,0,0.3)
  }
  .bird-button {
    position: fixed;
    outline: none;
    border: none;
    display: none;
    left: 86%;
    top: 37%;
    width: 80px;
    height: 80px;
    cursor:pointer;
    text-align: center;
    line-height: 80px;
    background: transparent url(./img/threat.png) center center no-repeat;
    background-size: cover;
  }
  .bird-button:active{
    width: 71px;
    height: 71px;
    transition: all 0.31s;
  }
  .bird {
    position: fixed;
    width: 40%;
    height: 80%;
    left: 78%;
    top: 10%;
  }
  .range {
    height: 30vmin;
    width: 45vmin;
    position: absolute;
  }
  