.user {
    display: flex;
    flex-direction: column;
    position: fixed;
    height: auto;
    border: cornsilk;
    top:8vh;
    right: 4.5vw;
    padding: 0.5vh 1vw;
    border-radius: 4px;
    font-size: calc(6px + 1vmin);
    background-color: #f6f6f6;
    border: 1px solid #ebebeb;
    box-shadow: 0 5px 20px rgba(26,26,26,.1);
    cursor:pointer;
}
.user-contain {
    position: fixed;
    width: 100vw;
    height: 100vh;
    bottom:0;
    left:0px;
    z-index: -1;
}