body {
  overflow: scroll;
  overflow-x: hidden !important;

}
::-webkit-scrollbar {
  width:1px;
  height:16px;     
  background-color:#F5F5F5; 
} /*定义滚动条轨道  内阴影+圆角*/

::-webkit-scrollbar-thumb {   
  border-radius:10px;   
  box-shadow:inset 0 0 6px rgba(0,0,0,.3);   
  background-color:#fcfcfc96
}
.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  width: 100vw;
  background-color: #fff;
  min-height: 6vh;
  position: fixed;
  display: flex;
  opacity: 0;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  font-size: calc(6px + 1vmin);
  color: #8590a6;
  box-shadow: 0 1px 3px rgba(26,26,26,.1);
  transition: all 500ms ease;
}
.App-header:hover {
  opacity: 1;
}
.App-header a {
  text-decoration:none;
  color: #8590a6;
}
.App-header div{
  display: flex;
  flex-direction: row;
  margin: 0 1.5vh;
  align-items: center;
} 
.App-header button{
  padding: 0.5vh 1vh;
  border-radius: 4px;
  background-color: #0084ff;
  border-style: hidden;
  font-size: calc(6px + 1vmin);
  margin: 0 0.5vh;
  color: #fff;
} 
.App-header input{
  width: 14vw;
  height: calc(16px + 1vmin);
  padding: 0.5vh;
  border-radius: 4px;
  font-size: calc(6px + 1vmin);
  background-color: #f6f6f6;
  border: 1px solid #ebebeb;
} 
.App-header .header-hover a:hover {
  color: #0084ff
}
.App-header .header-hover a:active {
  color: #0c6cc7
}
.App-header .header-contain {
  width: 90vw;
  justify-content: space-between;
}




.App-body {
  display: flex;
  justify-content: center;
  background-color: #fff;;
  flex-grow: 1;
  padding-top: 7.5vh;
}
.body-contain {
  display: flex;
  width: 90vw;
  background: #f6f6f6;
  border-radius: 4px;
  box-shadow: 0 2px 5px 2px rgba(26,26,26,.1);
  padding: 10px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pic-flow {
  margin: 0 auto;
  column-count: 4;
  column-gap:8px;
  width: 100%;
}
@media screen and (max-width: 1800px) {
  .pic-flow {
    margin: 0 auto;
    column-count: 3;
    column-gap:8px;
  }
  .App-contain {
    width: 90vw;
    padding: 0;
  }
}
@media screen and (max-width: 1366px) {
  .pic-flow {
    margin: 0 auto;
    column-count: 3;
    column-gap:4px;
  }
  .App-contain {
    width: 90vw;
    padding: 0;
  }
}
@media screen and (max-width: 768px) {
  .pic-flow {
    margin: 0 auto;
    column-count: 2; 
    column-gap:1px;
  }
  .App-contain {
    width: 100vw;
    padding: 0;
  }
}
.pic-flow article {
  break-inside: avoid;
  margin-bottom: 8px;
  border-radius: 4px;
  transition: transform .15s ease-in-out, box-shadow .15s ease-in-out;
  box-shadow: 0 1px 3px 0 rgba(26,26,26,.1);
}
.pic-flow article:hover {
  box-shadow: 0 1px 8px 2px rgba(26,26,26,.1);
}
.pic-flow article img {
  border-radius: 4px;
  width: 100%;
} 
.pic-flow article .label {
  display: flex;

} 
.pic-flow article .label span{
  align-items: center;
  margin-left: 8px;
  margin-bottom: 0.5vh;
  padding-right: 0.75vw;
  padding-left: 0.75vw;
  border-radius: 2px;
  text-decoration: none;
  font-size: calc(6px + 1vmin);
  transition: all .1s ease-in-out;
  text-transform: capitalize;
  line-height: 3vh;
  height: 3vh;
  color: #767676;
  background-color: #eee;
}
.pic-flow article .label span:hover{
  color: #000;
  background-color: #ebebeb;
}     