body {
  overflow: scroll;
  overflow-x: hidden !important;
}

.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {

}
.hide {
  background-color: rgba(0,0,0,0.3);
  opacity: 1;
}
.App-header:hover {
  background-color: #fff;
}
.App-header a {
  
}
.App-header div{
  display: flex;
  margin: 0 1.5vh;
  align-items: center;
} 
.App-header button{

} 
.App-header input{

} 
.header-hover:hover   {
  color: #0084ff;
  cursor: pointer;
}
.header-hover:active  {
  color: #0c6cc7;
  cursor: pointer;
}
.App-header .header-contain {

}
.header-right {

}
.header-right div{
  padding: 0.5vh;
}
